@import "reset"
@import "font"

@include font("concourse-t3", "regular")
@include font("concourse-t3", "italic")
@include font("concourse-c3", "regular")


$black: #000
$black6: #666
$black9: #999
$blackC: #ccc

$blue: #3f96f0
$blue6: rgba($blue, 1-(3/15))
$blue9: rgba($blue, 1-(6/15))
$blueC: rgba($blue, 1-(9/15))

$white: #fff
$white6: rgba($white, 1-(3/15))
$white9: rgba($white, 1-(6/15))
$whiteC: rgba($white, 1-(9/15))


*, *:before, *:after
  box-sizing: border-box


html
  color: $black
  height: 100%
  text-rendering: optimizeLegibility
  text-size-adjust: 100%

body
  font-family: "concourse-t3", sans-serif
  font-size: 14px
  line-height: 19px
  height: 100%

::selection
  background-color: $blueC

::-moz-selection
  background-color: $blueC


@mixin clickable
  cursor: pointer
  -webkit-tap-highlight-color: transparent

@mixin unclickable
  cursor: auto
  pointer-events: none

@mixin selectable
  user-select: text

@mixin unselectable
  user-select: none


#main
  height: 100%
  width: 100%


@mixin small-label
  color: $black9
  font-family: "concourse-c3", sans-serif
  text-transform: lowercase
  vertical-align: top
  position: relative
  top: 1px

@mixin ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis


.browser-pane
  @include unselectable
  background-color: $white
  height: 100%
  width: 100%
  overflow-x: scroll
  overflow-y: hidden
  -webkit-overflow-scrolling: touch


.column-list
  height: 100%
  width: 1/3 * 100% // Dynamic


.column
  border: 0px $blackC solid
  border-right-width: 1px
  height: 100%
  width: 100% // Dynamic
  display: inline-block
  overflow-x: hidden
  overflow-y: scroll
  -webkit-overflow-scrolling: touch


.wrapper
  padding: 1px
  height: 100%


.cartridge
  font-size: 12px
  line-height: 18px

.cartridge .title
  border: 1px $blackC solid
  border-radius: 512px
  padding-left: 8px

.cartridge .title:after
  content: "▸"
  color: $black9
  padding-left: 4px
  padding-right: 4px


.map
  width: 100%
  padding-left: 8px
  padding-right: 8px

.map .key
  @include small-label
  @include ellipsis
  display: inline-block
  width: 1/3 * 100%
  text-align: right

.map .value
  @include selectable
  display: inline-block
  width: 2/3 * 100%
  padding-left: 8px
  padding-right: 16px

.map .value + .value
  margin-left: 1/3 * 100%


.abstract
  padding-left: 8px
  padding-right: 8px
  text-align: justify
  hyphens: auto

.abstract .heading
  @include clickable
  @include small-label
  margin-top: 19px

.abstract .content
  @include selectable
  margin-left: 1/9 * 100%
  padding-right: 16px

.abstract .content p:not(:first-of-type)
  text-indent: 1/27 * 100%

.abstract .content i
  font-style: italic

.abstract .content sub, .abstract .content sup
  font-size: 3/4 * 1em


.pub-list
  counter-reset: reference

.pub-list .heading
  @include small-label
  margin-top: 19px
  padding-left: 8px

.pub-list .heading:not(.empty)
  @include clickable


.pub-list-item
  @include clickable
  counter-increment: pub-list-item
  padding-left: 8px
  padding-right: 8px
  position: relative
  height: 19px

.pub-list-item:after
  content: "▸"
  color: $black9
  position: absolute
  top: 0
  right: 8px

.pub-list-item .signature
  @include ellipsis
  display: inline-block
  width: 1/3 * 100%

.pub-list.numbered .pub-list-item .signature:before
  @include small-label
  @include ellipsis
  content: counter(pub-list-item)
  display: inline-block
  width: 1/3 * 100%
  padding-right: 8px
  text-align: right

.pub-list:not(.numbered) .pub-list-item .signature
  padding-left: 1/9 * 100%

.pub-list-item .title
  @include ellipsis
  display: inline-block
  width: 2/3 * 100%
  padding-left: 8px
  padding-right: 16px


.pub-list-item.missing .title
  color: $black9


.pub-list-item.selected
  color: $white
  background-color: $blue
  border-radius: 512px

.pub-list.numbered .pub-list-item.selected .signature:before
  color: $white9

.pub-list-item.selected.missing .title
  color: $white9

.pub-list-item.selected:after
  color: $white9


.preview
  width: 100%
  height: 100%

.preview img
  border: 1px $blackC solid
  max-width: 100%
  max-height: 100%
  margin-left: auto
  margin-right: auto
  display: block

.preview object
  width: 100%
  height: 100%
  position: relative
  z-index: 1
