@import "reset"
@import "font"

@include font("concourse-t3", "regular")
@include font("concourse-t3", "italic")
@include font("concourse-c3", "regular")


$black: #000
$black6: #666
$black9: #999
$blackC: #ccc
$blackE: #eee

$blue: #3f96f0
$blue6: rgba($blue, 1-(3/15))
$blue9: rgba($blue, 1-(6/15))
$blueC: rgba($blue, 1-(9/15))

$white: #fff
$white6: rgba($white, 1-(3/15))
$white9: rgba($white, 1-(6/15))
$whiteC: rgba($white, 1-(9/15))

// NOTE: $transition-duration must match TRANSITION_DURATION in JS
$transition-duration: 250ms


*, *:before, *:after
  box-sizing: border-box


html
  width: 100%
  height: 100%
  text-rendering: optimizeLegibility
  text-size-adjust: 100%
  color: $black
  background: #fafafa

body
  width: 100%
  height: 100%
  font-family: "concourse-t3", sans-serif
  font-size: 14px
  line-height: 19px

::selection
  background-color: $blueC

::-moz-selection
  background-color: $blueC


@mixin clickable
  cursor: pointer
  -webkit-tap-highlight-color: transparent

.clickable
  @include clickable

@mixin unclickable
  cursor: auto
  pointer-events: none

@mixin selectable
  user-select: text

@mixin unselectable
  user-select: none


#main
  height: 100%
  width: 100%


@mixin ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

@mixin label
  @include ellipsis
  width: 100%
  font-family: "concourse-c3", sans-serif
  vertical-align: top
  position: relative
  top: 1px
  color: $black9
  .selected &
    color: $white9


.browser
  @include unselectable
  width: 100%
  height: 100%
  overflow-x: scroll
  overflow-y: hidden
  -webkit-overflow-scrolling: touch


.column-list
  width: 1/3 * 100% // Dynamic
  height: 100%


.column
  width: 100% // Dynamic
  height: 100%
  display: inline-block
  overflow-x: hidden
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  background-color: $white
  border: 0px $blackC solid
  border-right-width: 1px
  .hairline &
    border-right-width: 0.5px


.wrapper
  width: 100%
  height: 100%
  padding: 1px
  .hairline &
    padding: 0.5px

.section
  padding-left: 8px
  padding-right: 8px

.spacer
  margin-top: 19px

.spacer .label:after
  content: "▾"
  display: inline-block
  margin-left: 8px
  position: relative
  z-index: 1
  color: $black9
  opacity: 0
  transition: all $transition-duration ease
  -webkit-font-smoothing: antialiased

.hidden .spacer .label:after
  opacity: 1


.label
  @include label


.header
  width: 100%

.header .heading
  @include selectable
  display: block
  text-align: center
  font-family: "concourse-c3", sans-serif
  hyphens: auto
  padding-left: 24px
  padding-right: 24px
  margin-bottom: 19px

.header .label
  display: inline-block
  width: 1/3 * 100%
  text-align: right

.header .item .value
  @include ellipsis
  display: inline-block
  width: 2/3 * 100%
  padding-left: 8px
  padding-right: 16px

.header .item .value:first-child
  margin-left: 1/3 * 100%


.list
  width: 100%
  counter-reset: item

.list .label
  padding-left: 8px


.item
  counter-increment: item
  padding-left: 8px
  padding-right: 8px
  height: 19px
  position: relative

.item.clickable:after
  content: "▸"
  position: absolute
  top: 0
  right: 6px
  color: $black9

.item.selected
  color: $white
  background-color: $blue
  border-radius: 512px

.item.selected:after
  color: $white9


.item .content
  @include ellipsis
  display: inline-block
  width: 100%
  padding-left: 1/9 * 100%
  padding-right: 16px


.item .signature
  @include ellipsis
  display: inline-block
  width: 1/3 * 100%

.list:not(.numbered) .item .signature
  padding-left: 1/9 * 100%

.list.numbered .item .signature:before
  @include label
  display: inline-block
  content: counter(item)
  width: 1/3 * 100%
  min-width: 24px
  padding-right: 8px
  text-align: right

.list.numbered .item.selected .signature:before
  color: $white9


.item .title
  @include ellipsis
  display: inline-block
  width: 2/3 * 100%
  padding-left: 8px
  padding-right: 16px

.item.partial
  color: $black9

.item.selected.partial
  color: $white9


.abstract
  padding-left: 8px
  padding-right: 8px
  text-align: justify
  hyphens: auto

.abstract .content
  @include selectable
  margin-left: 1/9 * 100%
  // padding-right: 16px

.abstract .content p:not(:first-of-type)
  text-indent: 1/27 * 100%

.abstract .content i
  font-style: italic

.abstract .content sup
  font-size: 12px
  line-height: 16px
  position: relative
  top: -2px
  vertical-align: top

.abstract .content sub
  font-size: 12px
  line-height: 16px
  position: relative
  bottom: -2px
  vertical-align: bottom


.pdf
  width: 100%
  height: 100%
  position: relative
  z-index: 1

.pdf canvas
  display: block
  width: 100%
  border: 0px $blackC solid

.pdf canvas:not(:last-of-type)
  border-bottom-width: 1px
  .hairline &
    border-bottom-width: 0.5px


.fade-enter
  opacity: 0
  &.fade-enter-active
    opacity: 1
    transition: all $transition-duration ease

.fade-leave
  opacity: 1
  &.fade-leave-active
    opacity: 0
    transition: all $transition-duration ease


.height-enter
  // NOTE: JS code sets max-height: 0%
  opacity: 0
  overflow-y: hidden
  &.height-enter-active
    // NOTE: JS code sets max-height: 100%
    opacity: 1
    transition: all $transition-duration ease

.height-leave
  // NOTE: JS code sets max-height: 100%
  opacity: 1
  &.height-leave-active
    // NOTE: JS code sets max-height: 0%
    opacity: 0
    transition: all $transition-duration ease
    overflow-y: hidden


.width-enter
  // NOTE: JS code sets max-width: 0%
  opacity: 0
  overflow-x: hidden
  &.width-enter-active
    // NOTE: JS code sets max-width: 100%
    opacity: 1
    transition: all $transition-duration ease

.width-leave
  // NOTE: JS code sets max-width: 100%
  opacity: 1
  &.width-leave-active
    // NOTE: JS code sets max-width: 0%
    opacity: 0
    transition: all $transition-duration ease
    overflow-x: hidden
